extends layout

block body
  div(ng-view)
  
  script(src="bower_components/underscore/underscore.js")
  script(src="bower_components/jquery/jquery.js")  

  script(src='/socket.io/socket.io.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/angular-socket-io/socket.js')

  script(src="bower_components/jquery-ui/jquery-ui.js")

  script(src="bower_components/angular-route/angular-route.js")
  script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
  script(src="bower_components/angular-ui-sortable/sortable.js")
  
  script(src="bower_components/malhar-angular-dashboard/dist/angular-ui-dashboard.js")
  script(src="bower_components/d3/d3.js")
  
  script(src="vendor/gauge_vendor.js")
  script(src="vendor/tween.js")
  script(src="vendor/steelseries.js")
  
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/pin.js')
  script(src='js/compass.js')
  script(src='js/arduino.js')
