!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Arduino UI
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/malhar-angular-dashboard/dist/angular-ui-dashboard.css')
    link(rel='stylesheet', href='/css/ArduinoUI.css')
  body
    block body