<div>
    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="control-label" for="cmbPin">Port</label>
        </div>
        <div class="form-group">
            <select name="cmbPin" class="form-control" ng-model="myport" ng-options="port for port in myports"></select>
        </div>
        <div class="form-group">
            <button id="arduinoConnect" type="button" ng-class="connectclass" ng-click="connect()">{{connecttext}}</button>
        </div>
    </form>
    <hr class="spacer-10">
    <div class="alert alert-info" ng-show="board.type">{{board.type}} connected on {{myport}}</div>
</div>
