<div>
  <form class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>Sensor Configuration</legend>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="cmbPin">Pin</label>
        <div class="col-md-2">
          <select id="cmbPin" name="cmbPin" class="form-control">
            <option value="">D1</option>
            <option value="">D2</option>
            <option value="">D3</option>
            <option value="">A1</option>
            <option value="">A2</option>
            <option value="">A3</option>
          </select>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="txtPollFreq">Poll Frequency</label>
        <div class="col-md-4">
          <input id="txtPollFreq" name="txtPollFreq" type="text" placeholder="Hz" class="form-control input-md">

        </div>
      </div>

    </fieldset>
  </form>

  <hr/>
  <div>
    <!-- Guage will be inserted here -->
  </div>
</div>
